/*========================== GOOGLE FONTS =======================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ==================================================== */
/* ================== VARIABLES CSS =================== */
/* ==================================================== */
:root {
    /*========== Colors ==========*/
    --background-color: #FEE7B5;
    --text-color: #200432;
    --primary-color: #4A0730;
    --secondary-color: #7A0C31;
    --accent-color: #FE8932;

    /*========== Fonts and typography ==========*/
    --body-font: "Montserrat", sans-serif;

    /*========== Fonts weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========================== BASE ======================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

body {
    font-family: var(--body-font);
    min-height: 100vh;
    display: grid;
    position: relative;
    justify-items: center;
    text-align: center;
    grid-template-rows: 1fr auto;
}

section {
    min-height: 90vh;
}

h1 {
    color: var(--primary-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: .7s;
}

a:hover {
    opacity: 50%;
}

/*========================== REUSABLE CSS CLASSES ======================*/

.container {
    width: clamp(330px, 80vw, 954px);
    margin-inline: .7rem;
}

.grid {
    display: grid;
    /* gap: 1.5rem; */
}

.main {
    overflow: hidden;
}

/*========================== HEADER & NAV ======================*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-color: transparent;
    z-index: var(--z-fixed);
}

nav {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: .7rem;
    background-color: var(--background-color);
    border-bottom: var(--primary-color) 1px solid;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
}

.nav__actions {
    font-size: 1.25rem;
    column-gap: .5rem;
    align-items: center;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(228, 24%, 6%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__close {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/*========================== Footer ======================*/

footer {
    height: 5vh;
    border-top: var(--primary-color) 1px solid;
    background-color: var(--background-color);
}

/*========================== List Categories ======================*/

.listTopics__container {
    justify-content: center;
}

.listTopics__container h1 {
    text-align: left;
}

.listTopics__container thead {
    background-color: var(--primary-color);
}

/* ==================================================== */
/* ================== MEDIA QUERIES =================== */
/* ==================================================== */

@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .nav {
        margin-inline: auto;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

}